name: Release a new version and deploy to production IoWebProfile

on:
  workflow_dispatch:

env:
  # account.ioapp.it variables
  PROFILE_CDN_NAME: 'io-p-ioweb-profile-portal-afd-01'
  ENDPOINT_NAME: 'io-p-itn-ioweb-profile-fde-01'
  RESOURCE_GROUP_NAME: 'io-p-itn-ioweb-fe-rg-01'
  AZURE_SUBSCRIPTION: 'PROD-IO'
  ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
  ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}

permissions:
  contents: write

jobs:
  prepare_artifact:
    name: Prepare artifact IoWebProfile
    runs-on: ubuntu-latest
    steps:
      - name: Checkout primary repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Setup Node Environment
        uses: actions/setup-node@1a4442cacd436585916779262731d5b162bc6ec7 # v3
        with:
          node-version-file: '.node-version'

      - name: Build Application
        env:
          NEXT_PUBLIC_FOOTER_PRODUCT_LIST: 'https://account.ioapp.it/assets/products.json'
          NEXT_PUBLIC_URL_SPID_LOGIN: 'https://api-web.io.pagopa.it/ioweb/auth/v1/login'
          NEXT_PUBLIC_JWT_SPID_LEVEL_VALUE_L1: 'https://www.spid.gov.it/SpidL1'
          NEXT_PUBLIC_JWT_SPID_LEVEL_VALUE_L2: 'https://www.spid.gov.it/SpidL2'
          NEXT_PUBLIC_JWT_SPID_LEVEL_VALUE_L3: 'https://www.spid.gov.it/SpidL3'
          NEXT_PUBLIC_API_BASE_URL: 'https://api-web.io.pagopa.it/ioweb/backend'
          NEXT_PUBLIC_API_BASE_PATH: '/api/v1'
          NEXT_PUBLIC_API_FETCH_TIMEOUT: 5000
          NEXT_PUBLIC_API_FETCH_MAX_RETRY: 5
          NEXT_PUBLIC_FEATURE_FLAG: false
          NEXT_PUBLIC_SPID_CIE_ENTITY_ID: 'xx_servizicie'
          NEXT_PUBLIC_ANALYTICS_ENABLE: true
          NEXT_PUBLIC_ANALYTICS_MOCK: false
          NEXT_PUBLIC_ANALYTICS_API_HOST: 'https://api-eu.mixpanel.com'
          NEXT_PUBLIC_ANALYTICS_PERSISTENCE: 'cookie'
          NEXT_PUBLIC_ANALYTICS_LOG_IP: false
          NEXT_PUBLIC_ANALYTICS_DEBUG: false
          NEXT_PUBLIC_SPID_TEST_ENV_ENABLED: false
          NEXT_PUBLIC_SPID_TEST_ENV_UAT_ENABLED: 'false'
          NEXT_PUBLIC_CIE_UAT_LOGIN_ENABLED: 'false'
          # the following mixpanel project token is not a secret in any way.
          # ref -> https://developer.mixpanel.com/reference/project-token
          NEXT_PUBLIC_ANALYTICS_TOKEN: 'cc8f0687d3eeb055a44fff7b779ba535'
        run: |
          gitReference='${{ github.ref_name }}'
          yarn install --immutable
          yarn run generate
          yarn run build:prod

      - name: Upload Artifact
        uses: actions/upload-artifact@6f51ac03b9356f520e9adb1b1b7802705f340c2b # v4
        with:
          name: StaticSite
          path: ./out
          if-no-files-found: error
          retention-days: 1

  deploy_portal:
    name: Deploy Portal
    runs-on: ubuntu-latest
    timeout-minutes: 90
    needs: prepare_artifact
    environment: app-prod-cd
    permissions:
      id-token: write
    env:
      STORAGE_ACCOUNT_NAME: 'iopitniowebprofilest01'
      ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
      AZURE_STORAGE_AUTH_MODE: 'login'

    steps:
      - name: Azure Login
        uses: pagopa/dx/.github/actions/csp-login@main
        env:
          ARM_USE_OIDC: true
          ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
          ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}

      - name: Download Artifact
        id: download_artifact
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4
        with:
          name: StaticSite

      - name: Deploy to Azure
        uses: pagopa/dx/actions/static-assets-deploy@main
        with:
          storage_account_name: ${{ env.STORAGE_ACCOUNT_NAME }}
          blob_container_name: $web
          resource_group_name: ${{ env.RESOURCE_GROUP_NAME }}
          profile_name: ${{ env.PROFILE_CDN_NAME }}
          endpoint_name: ${{ env.ENDPOINT_NAME }}
          sync_dir_name: ${{steps.download_artifact.outputs.download-path}}

